<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />

    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="shortcut icon" href="{{asset "favicon.ico"}}">

    <link rel="stylesheet" type="text/css" href="{{asset "css/style.css"}}" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    {{ghost_head}}
</head>
<body>

    <div id="site-container"></div>

    <script type="text/javascript">
        var posts = [];
        {{#is "post"}}
            {{#post}}
                posts.push({
                    url: "{{url}}",
                    title: "{{title}}",
                    excerpt: "{{excerpt words="26"}}...",
                    content: `{{content}}`,
                    authour: {
                        image: "{{author.image}}",
                        name: "{{author.name}}"
                    },
                    date: "{{date format="DD MMMM YYYY"}}"
                })
            {{/post}}
        {{else}}
            {{#get "posts" include="author"}}
                {{#foreach posts}}
                    posts.push({
                        url: "{{url}}",
                        title: "{{title}}",
                        excerpt: "{{excerpt words="26"}}...",
                        content: `{{content words="250"}}`,
                        authour: {
                            image: "{{author.image}}",
                            name: "{{author.name}}"
                        },
                        date: "{{date format="DD MMMM YYYY"}}"
                    });
                {{/foreach}}
            {{/get}}
        {{/is}}
    </script>

    <script type="text/javascript" src="{{asset "js/index.js"}}"></script>
</body>
</html>
