<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />

    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="shortcut icon" href="{{asset "favicon.ico"}}">

    <link rel="stylesheet" type="text/css" href="{{asset "css/style.css"}}" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <script src="http://localhost:35729/livereload.js"></script>
    <!-- <script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-58574025-1', 'auto');
		ga('require', 'displayfeatures');
		ga('send', 'pageview');
    </script> -->

    {{ghost_head}}
</head>
<body>
    <div id="site-container"></div>

    <script type="text/javascript">
        var posts = [],
            allPosts = [];

        {{#get "posts" include="author"}}
            {{#foreach posts}}
                allPosts.push({
                    url: "{{url}}",
                    permalink: document.documentURI + "{{url}}".substring(1),
                    title: "{{title}}",
                    excerpt: "{{excerpt words="26"}}...",
                    content: `{{content words="250"}}`,
                    authour: {
                        image: "{{author.image}}",
                        name: "{{author.name}}"
                    },
                    date: "{{date format="DD MMMM YYYY"}}"
                });
            {{/foreach}}
        {{/get}}

        {{#is "post"}}
            {{#post}}
                posts.push({
                    url: "{{url}}",
                    title: "{{title}}",
                    excerpt: "{{excerpt words="26"}}...",
                    content: `{{content}}`,
                    authour: {
                        image: "{{author.image}}",
                        name: "{{author.name}}"
                    },
                    date: "{{date format="DD MMMM YYYY"}}"
                })
            {{/post}}
        {{else}}
            posts = allPosts.slice();
        {{/is}}
    </script>

    <script type="text/javascript" src="{{asset "js/index.js"}}"></script>
</body>
</html>
